streamlit
python-dotenv==1.1.1
pydantic==2.11.7

google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-genai
google-generativeai
googleapis-common-protos
google-ai-generativelanguage

langchain==0.3.27
langchain-anthropic==0.3.19
langchain-community==0.3.29
langchain-core==0.3.75
langchain-google-genai
langchain-openai==0.3.32
